<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Добавить новый товар</title>
</head>

<body>
<div>
    <form action="#" th:object="${productForm}" method="post">
        <h2>Добавить товар</h2>
        <div>
            <input type="text" th:field="*{name}" placeholder="Введите название товара" autofocus="true">
        </div>
        <div>
            <select th:field="*{category}">
                <option value="-">Выберите категорию товара</option>
                <option th:each="category : ${categoryOptions}" th:value="${category}" th:text="${category}"></option>
            </select>
        </div>
        <div>
            <input type="text" th:field="*{source}" placeholder="Введите название продовца">
        </div>
        <div>
            <input type="text" th:field="*{cost}" placeholder="Введите стоимость товара">
        </div>
        <button type="submit">Добавить товар</button>
    </form>
    <a href="/">Главная</a>
</div>
</body>
</html>