<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновить данные пользователя</title>
    <link rel="stylesheet" type="text/css" href="${#httpServletRequest.getContextPath()}/resources/css/style.css">
</head>
<body>
<h2>Информация о товаре</h2>

<b>Название: </b><span th:text="${product.name}"></span><br>
<b>Стоимость: </b><span th:text="${product.cost}"></span><br>
<b>Продавец: </b><span th:text="${product.source}"></span><br>

<h2>Комментарии: </h2>

<table>
    <tr th:each="comment : ${allComments}">
        <div th:if="${comment.productId == product.id}">
                <td style="padding-right: 15px;">Автор: <span th:text="${comment.userId}"></span></td>
                <td style="padding-right: 15px;">Комментарий: <span th:text="${comment.message}"></span></td>
            <div th:if="${userId == comment.userId}">
                <td style="padding-right: 15px;">
                    Удалить:
                    <form action="#" th:action="@{/product-info}" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}"/>
                        <input type="hidden" name="commentId" th:value="${comment.id}"/>
                        <input type="hidden" name="action" value="delete"/>
                        <button type="submit">Удалить комментарий</button>
                    </form>
                </td>
                <td style="padding-right: 15px;">
                    Изменить:
                    <form action="#" th:action="@{/product-info}" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}"/>
                        <input type="hidden" name="commentId" th:value="${comment.id}"/>
                        <input type="hidden" name="action" value="update"/>
                        <button type="submit">Изменить комментарий</button>
                    </form>
                </td>
            </div>
        </div>
    </tr>
</table>

<h2>Добавить комментарий</h2>

<div>
    <form action="#" th:object="${commentForm}" method="post">
        <input type="text" th:field="*{message}" placeholder="Введите название товара" autofocus="true">
        <input type="hidden" name="productId" th:value="${product.id}">
        <input type="hidden" name="action" value="create">
        <button type="submit">Добавить комментарий</button>
    </form>
</div>

<a href="/">Главная</a>
</body>
</html>