<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сравнение</title>
    <script>
        function checkImagesLoaded() {
            var images = document.getElementsByTagName('img');
            var totalImages = images.length;
            var loadedImages = 0;

            for (var i = 0; i < totalImages; i++) {
                if (images[i].complete) {
                    loadedImages++;
                }
            }

            if (loadedImages === totalImages) {
                document.getElementById('content').style.display = 'block';
            }
        }

        window.onload = function () {
            checkImagesLoaded();
        };
    </script>
</head>
<body>

<div id="content" style="display: none;">
    <table>
        <thead>
            <th>Название</th>
            <th>Стоимость</th>
            <th>Магазин</th>
            <th>Изображение</th>

            <th>Удалить</th>
        </thead>
        <tr th:each="product : ${compareProducts}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.cost}"></td>
            <td th:text="${product.source}"></td>
            <td><img th:src="${path + product.photo}" width="100" height="100" th:alt="${product.photo}"/></td>

            <td>
                <form th:action="@{/deleteCompare}" method="post">
                    <input type="hidden" name="productName" th:value="${product.name}"/>
                    <input type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<a href="/">Главная</a>

</body>
</html>